<ion-view view-title="衣服花纹">

    <ion-nav-buttons side="right" ng-controller="filterSettingCtrl2">
        <button class="button button-clear icon-left ion-ios-arrow-back" ng-click="back1()">
            返回
        </button>
    </ion-nav-buttons>

    <ion-content align="center">
        <button class="button button-block button-light" style="margin:0 auto;" ng-click="setMeeting('YiFuHuaWen','纯色')">
            纯色
        </button>
        <button class="button button-block button-light" style="margin:0 auto;" ng-click="setMeeting('YiFuHuaWen','线条.格子.色块')">
            线条/格子/色块
        </button>
        <button class="button button-block button-light" style="margin:0 auto;" ng-click="setMeeting('YiFuHuaWen','图案')">
            图案
        </button>
        <button class="button button-block button-light" style="margin:0 auto;" ng-click="setMeeting('YiFuHuaWen','不确定')">
            不确定
        </button>
    </ion-content>

</ion-view>
