<ion-view view-title="我的衣服花纹">

    <ion-nav-buttons side="right">
        <button class="button button-clear icon-left ion-ios-arrow-back" ng-click="jumpTo('accountMain')">
            返回
        </button>
    </ion-nav-buttons>

    <ion-content align="center">
        <button class="button button-block button-light" style="margin:0 auto;" ng-click="setStyle('YiFuHuaWen','纯色')">
            纯色
        </button>
        <button class="button button-block button-light" style="margin:0 auto;" ng-click="setStyle('YiFuHuaWen','线条.格子.色块')">
            线条/格子/色块
        </button>
        <button class="button button-block button-light" style="margin:0 auto;" ng-click="setStyle('YiFuHuaWen','图案')">
            图案
        </button>
    </ion-content>

</ion-view>